body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: white;
    border-bottom: 2px solid #ddd;
}

.btn {
    background: #dcdcdc;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .5rem;
}

.info-container {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    gap: 1.5rem;
}

.info-box {
    background: #dcdcdc;
    width: 30%;
    padding: 2rem;
    text-align: center;
}

.info-box h3 {
    margin-bottom: 2rem;
    font-weight: normal;
}

.value {
    font-size: 28px;
    font-weight: bold;
}

.history-container {
    background: #dcdcdc;
    margin: 20px 40px;
    padding: 30px;
}

.history-header,
.history-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .5rem 0;
}

.history-row {
    border-top: 1px solid #aaa;
}