body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.main-container {
    padding: 2rem;
}

h1 {
    margin-bottom: 3rem;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.device-card {
    background: #dcdcdc;
    padding: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.device-card:hover {
    background: #c8c8c8;
}

.device-card h3 {
    margin: 0 0 1rem 0;
}

.device-card p {
    margin: 4px 0;
}